.l-loading {
  background-color: #ffffff;
  display: flex block;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.c-loading--footprint {
  width: calc(6 * 30px);
  height: 50px;
  display: flex;
  color: var(--c-active);
  filter: drop-shadow(30px 25px 0 currentColor)
    drop-shadow(60px 0 0 currentColor) drop-shadow(120px 0 0 currentColor);
  clip-path: inset(0 100% 0 0);
  animation: l12 4s infinite steps(7);

  &::before {
    content: "";
    width: 30px;
    height: 25px;
    --c: no-repeat radial-gradient(farthest-side, currentColor 92%, #0000);
    background:
      var(--c) left / 70% 70%,
      var(--c) right/20% 20%,
      var(--c) top 0 right 15%/20% 20%,
      var(--c) bottom 0 right 15%/20% 20%;
  }
}

@keyframes l12 {
  100% {
    clip-path: inset(0 -30px 0 0);
  }
}

.c-loading--mickey {
  &::before {
    background-image: url("./assets/img_loading.gif");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 12rem;
    width: 12rem;
  }
}

.c-loading--continuousSquare {
  width: 120px;
  height: 20px;
  mask: linear-gradient(90deg, #000 70%, #0000 0) left/20% 100%;
  -webkit-mask: linear-gradient(90deg, #000 70%, #0000 0) left/20% 100%;
  background: linear-gradient(#000 0 0) left -25% top 0 /20% 100% no-repeat #ddd;
  animation: l7 1.5s infinite steps(6);
}
@keyframes l7 {
  100% {
    background-position: right -25% top 0;
  }
}

.c-loading--spinner {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #ffa516 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #ffa516);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  to {
    transform: rotate(1turn);
  }
}

.c-loading--dots {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}

.l-loading--factory {
  width: 90px;
  height: 14px;
  box-shadow: 0 3px 0 #fff;
  position: relative;
  display: grid;
  clip-path: inset(-60px 0 -5px);
}
.l-loading--factory:after {
  content: "";
  position: relative;
  background: repeating-linear-gradient(
      90deg,
      #0000 0 calc(50% - 8px),
      #ccc 0 calc(50% + 8px),
      #0000 0 100%
    )
    0 0 / calc(100% / 3) 100%;
  animation: l6-1 1s infinite;
}
.l-loading--factory:before {
  content: "";
  position: absolute;
  width: 14px;
  aspect-ratio: 1;
  left: calc(50% - 7px);
  bottom: 0;
  border-radius: 50%;
  background: lightblue;
  animation: l6-2 1s infinite;
}
@keyframes l6-1 {
  50%,
  100% {
    background-position: calc(100% / 2) 0;
  }
}
@keyframes l6-2 {
  0%,
  50% {
    transform: translateY(-80px);
  }
}
